{% extends 'base.html.twig' %}

{% block title %}
    Hello AProposController!
{% endblock %}

{% block body %}
    <section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-60 jarallax" style="background-image:url(/img/peintre.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <blockquote class="blockquote mb-0">
                        <p class="h2 text-white">
                            {{peintre.aPropos}}
                        </p>
                    </blockquote>
                    <footer class="blockquote-footer text-white-50 mb-0">
                        {{peintre.prenom }}
                        {{ peintre.nom }}
                    </footer>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
