<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    <body>
        <section>
            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center gx-0 min-vh-100">
                    <div
                        class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

                        <!-- Heading -->
                        <h1 class="mb-0 fw-bold">
                            Ouvrir une session
                        </h1>

                        <!-- Text -->
                        <p class="mb-6 text-muted">
                            Administration du site internet.
                        </p>

                        <!-- Form -->
                        <form class="mb-6" method="post">
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{error.messageKey|trans(error.messageData, 'security')}}
                                </div>
                            {% endif %}
                            {% if app.user  %}
                                <div class="mb-3">
                                    You are logged as
                                    {{app.user.username}}
                                    ,
                                    <a href="{{path('app_logout')}}">
                                        Déconnexion
                                    </a>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputEmail">
                                    Email
                                </label>
                                <input type="email" value="{{last_username}}" name="email" id="inputEmail" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">
                                    Password
                                </label>
                                <input type="password" id="inputPassword" name="password" class="form-control">
                            </div>
                            <input
                            type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <!-- Submit -->
                            <button class="btn w-100 btn-primary" type="submit">
                                Ouvrir une session
                            </button>

                        </form>

                        <!-- Text -->
                        <p class="mb-0 fs-sm text-muted">
                            Don't have an account yet?
                            <a href="signup-cover.html">
                                Sign up
                            </a>
                            .
                        </p>

                    </div>
                    <div
                        class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block" data-aos="fade-left">

                        <!-- Image -->
                        <div class="h-100 w-cover bg-cover" style="background-image: url(/img/mv2.webp);"></div>

                        <!-- Shape -->
                        <div class="shape shape-start shape-fluid-y svg-shim text-white">
                            <svg viewbox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"></path>
                            </svg>
                        </div>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .container -->
        </section>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html></body></html>
