<section class="pb-8 pt-7 pb-md-11 pt-md-10">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div
                class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-0">
                    Les dernières actualités
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                    Mes dernières actualités.
                </p>

            </div>
            <div
                class="col-12 col-md-auto">

                <!-- Button -->
                <a href="{{path('actualites')}}" class="btn btn-sm btn-outline-gray-300 d-none d-md-inline">
                    Voir toutes les actualités
                </a>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            {% for actualite in actualites %}
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex">

                    <!-- Card -->
                    <div
                        class="card shadow-light-lg lift lift-lg" data-aos="fade-up" data-aos-delay="100">

                        <!-- Image -->
                        <a class="card-body my-auto" href="{{path('actualites_detail', {'slug' : actualite.slug})}}">

                            <!-- Image -->


                            <!-- Heading -->
                                <h3>
                            {{ actualite.titre }}
                            </h3>

                            <!-- Text -->
                                <p class="mb-0 text-muted"> {{actualite.contenu|u.truncate(150, '...', false)}}
                            </p>

                        </a>
                        <!-- Meta -->
                        <a
                            class="card-meta" href="{{path('actualites_detail', {'slug' : actualite.slug})}}">

                            <!-- Divider -->
                            <hr
                            class="card-meta-divider">


                            <!-- Date -->
                            <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                <time datetime="2019-05-02">
                                    Publié le
                                    {{actualite.createdAt|date('d/m/Y')}}
                                </time>
                            </p>

                        </a>

                    </div>

                </div>
            {% endfor %}

        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>
