<!-- ARTICLES -->
<section class="pt-8 pt-md-11">
    <div class="container">
        <div class="row">
            <div
                class="col-12">

                <!-- Heading -->
                <h2 class="mb-0">
                    Dernières réalisations
                </h2>

                <!--  -->
                <p class="mb-5 text-muted">
                    Mes toutes dernières réalisations.
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            {% for peinture in peintures %}

                <div
                    class="col-12">

                    <!-- Card -->
                    <div class="card card-row shadow-light-lg mb-6 lift lift-lg" data-aos="fade-right">
                        <div class="row gx-0">
                            <a
                                class="col-12 col-md-6 bg-cover card-img-start" style="background-image: url({{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('miniature')}});" href="{{path('realisations_details', {'slug': peinture.slug}) }}">

                                <!-- Image (placeholder) -->
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('miniature')}}" alt="..." class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewbox="0 0 112 690 " fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"></path>
                                    </svg>
                                </div>

                            </a>
                            <div
                                class="col-12 col-md-6 order-md-1">

                                <!-- Body -->
                                <a
                                    class="card-body" href="{{path('realisations_details', {'slug': peinture.slug}) }}">

                                    <!-- Heading -->
                                    <h3>
                                        {{peinture.nom}}
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted">
                                        {{peinture.description|u.truncate(200, '...', false)}}
                                    </p>

                                </a>

                                <!-- Meta -->
                                <a
                                    class="card-meta" href="#!">

                                    <!-- Divider -->
                                    <hr
                                    class="card-meta-divider">


                                    <!-- Date -->
                                    <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                        <time datetime="2019-05-31">
                                            Ajoutée le
                                            {{ peinture.createdAt|date('d/m/Y') }}
                                        </time>
                                    </p>

                                </a>

                            </div>

                        </div>
                        <!-- / .row -->
                    </div>


                </div>
            {% endfor %}

        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</section>
