<!-- FOOTER -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
        </svg>
    </div>
</div>
<footer class="py-8 py-md-11 bg-dark">
    <div class="container">
        <div class="row">
            <div
                class="col-12 col-md-4 col-lg-3">

                <!-- Brand -->
                <img
                src="{{asset('img/logo.png')}}" alt="logo" class="footer-brand img-fluid mb-2">

                <!-- Text -->
                <p class="text-gray-700 mb-2">
                    Artiste Peintre
                </p>
            </div>
            <div class="col-6 col-md-4 col-lg-2">

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700">
                    Menu
                </h6>

                <!-- List -->
                <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">

                    <li class="mb-3">
                        <a href="{{path('realisations')}}" class="text-reset">
                            Réalisations
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{path('actualites')}}" class="text-reset">
                            Actualités
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{path('portfolio')}}" class="text-reset">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="{{path('a_propos')}}" class="text-reset">
                            A propos
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}" class="text-reset">
                            Me contacter
                        </a>
                    </li>
                </ul>

            </div>
            <div
                class="col-6 col-md-4 col-lg-7">

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700">
                    Informations
                </h6>
                <p class="text-gray-600 mb-2">
                    Artiste Peintre à Chomérac au coeur de l'Ardèche.
                </p>
                <p class="text-gray-600 mb-2">
                    Je réalise mes peintures à l'aquarelle directement à l'atelier ou en pleine nature !
                </p>

            </div>
            {# <div
                class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700">
                    Mentions légales
                </h6>

                <!-- List -->
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <a href="#!" class="text-reset">
                            RGPD
                        </a>{
                    </li>
                </ul>

            </div>
 #}
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
</footer>
