<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div
        class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="{{path('home')}}">
            <img src="{{asset('/img/logo.png')|imagine_filter('miniature')}}" class="navbar-brand-img" alt="...">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div
            class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{path('realisations')}}">
                        Réalisations
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{path('actualites')}}">
                        Actualités
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown-toggle" href="{{ path('portfolio') }}" aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                        {% for category in categoriesNavbar() %}
                            <li class="dropdown-item dropend">
                                <a href="{{path('portfolio_category', {'slug': category.slug})}}">
                                    {{category.nom}}
                                </a>
                            </li>
                        {% endfor %}


                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{path('a_propos')}}">
                        A propos
                    </a>

                </li>
            </ul>

            <!-- Button -->
            <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="{{path('contact')}}">
                Me Contacter
            </a>

        </div>

    </div>
</nav>
