{% extends "base.html.twig" %}
{% block title %}
    Hello PortfolioController
{% endblock %}

{% block body %}
    {% set peinture = category.peintures|last %}
    <section class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url({{vich_uploader_asset(peinture, 'imageFile')|imagine_filter('welcome')}});">
        <div class="container">
            <div class="row justify-content-center">
                <div
                    class="col-12 col-md-10 col-lg-7 text-center">

                    <!-- Headin -->
                    <h1 class="display-2 fw-bold text-white">
                        {{category.nom}}
                    </h1>

                    <!-- Text -->
                    <p class="lead text-white-75 mb-4">
                        {{ category.description }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- CONTENT -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "masonry"}'>

                {% for peinture in peintures %}

                    <div class="col-12 col-md-4">
                        <a href="!#" class="card shadow-light-lg mb-7" data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('full')}}"}'>
                            <div class="card-zoom">
                                <img src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('portfolio') }}" alt="" class="card-img">

                            </div>

                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>


{% endblock %}
