{% extends 'base.html.twig' %}

{% block title %}
    Hello PortfolioController!
{% endblock %}

{% block body %}
    <section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900" style="margin-top: -87px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <h1 class="display-2 fw-bold text-white">
                        Portfolio
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- CONTENT -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>

                {% for categorie  in categories %}
                    {% set peinture = categorie.peintures|last %}
                    <div class="col-12 col-md-4 ux">
                        <a href="{{ path('portfolio_category', {'slug': categorie.slug})}}" class="card lift lift-lg shadow-light-lg mb-7">
                            <img src="{{ vich_uploader_asset(peinture, 'imageFile')|imagine_filter('portfolio') }}" alt="" class="card-img-top">
                            <div class="card-body">
                                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                                    <svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>

                                    </div>
                                </div>
                                <h4 class="mb-0">
                                    {{categorie.nom}}
                                </h4>
                                <small>
                                    {{ categorie.description }}
                                </small>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
