{% extends 'base.html.twig' %}

{% block title %}
    Hello BlogPostController!
{% endblock %}

{% block body %}
    <section class="pb-8 pt-7 pb-md-11 pt-md-10">
        <div class="container">
            <div class="row">
                <div
                    class="col-12">

                    <!-- Heading -->
                    <h2 class="mb-0">
                        Dernières actualités
                    </h2>

                    <!--  -->
                    <p class="mb-5 text-muted">
                        Mes dernières actualités.
                    </p>

                </div>
            </div>
            <div class="row">
                {% for actualite in actualites %}

                    <div
                        class="col-12 col-lg-4 d-flex">

                        <!-- Card -->
                        <div class="card shadow-light-lg lift lift-lg m-2">


                            <a
                                class="card-body my-auto" href="{{path('actualites_detail', {'slug' : actualite.slug})}}">
                                <!-- Heading -->
                                <h3>
                                    {{actualite.titre}}
                                </h3>

                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    {{actualite.contenu|u.truncate(200, '...', false)}}
                                </p>

                            </a>
                            <!-- Meta -->
                            <a
                                class="card-meta" href="{{path('actualites_detail', {'slug' : actualite.slug})}}">

                                <!-- Divider -->
                                <hr
                                class="card-meta-divider">

                                <!-- Date -->
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                    <time datetime="2019-05-31">
                                        Publiée le
                                        {{ actualite.createdAt|date('d/m/Y') }}
                                    </time>
                                </p>

                            </a>

                        </div>


                    </div>


                {% endfor %}

            </div>
            <!-- / .row -->

            <div class="d-flex justify-content-center">
                {% do actualites.setPageRange(2) %}
                {{knp_pagination_render(actualites, 'base/pagination.html.twig')}}
            </div>
        </div>
    </section>

{% endblock %}
