<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle`
                                           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "base/nav.html.twig" %}
        {% block body %}

        {% endblock %}
        {% include "base/footer.html.twig" %}
    </body>
</html>
